{% extends "_base.html" %}

{% block lang -%}
{% if section.extra.lang %}{{ section.extra.lang }}
{%- else %}{{ section.lang }}{% endif %}
{%- endblock lang -%}

{% block title %}{{ config.title }}{% endblock title %}

{% block desc %}{{ config.description }}{% endblock desc %}

{% block css -%}
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/blog.css" />
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/home_additions.css" />
<link rel="stylesheet" href="/css/common_additions.css" />
{%- endblock css %}

{% block content %}
<main>
    <h1>{{ config.title }}</h1>
    <div class="info">
        <div class="info-text">
            <p id="bio"> {{ config.extra.bio }} </p>
        </div>
    </div>
    <div class="link">
        <div class="right">
            {% for link in config.extra.links -%}
            <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'><i class="{{ link.icon }} ri-xl"></i></a>
            {% endfor -%}
            <button id="color-toggle"  aria-label="dark light mode switch"><i class="ri-moon-line ri-xl"></i></button>
        </div>
    </div>
    <div class="brief">{{ section.content | trim | safe }}</div>
    {% for category,posts in section.pages | group_by(attribute="taxonomies.categories.0") -%}
        <div class="title">{{ category }}</div>
        <div class="post-list">
            {% for post in posts | slice(end=section.extra.show_post_num) -%}
            <a class="post" href="{{ post.permalink }}">
                <span>{{ post.title }}</span>
                <span class="date">{{ post.date | date}}</span>
            </a>
            <div class="tags">
                {% for tag in post.taxonomies.tags -%}
                {% set tag_slugify = tag | slugify -%}
                <span>
                    <a class="tag" href="{{  '/tags/' ~ tag_slugify }}"><span>#{{ tag }}</span></a>
                </span>
                {%- endfor %}
            </div>
            {% endfor -%}
            {% if posts | length > section.extra.show_post_num -%}
            <div class="posts-{{category}} hidden">
                {% for post in posts | slice(start=section.extra.show_post_num) -%}
                <a class="post" href="{{ post.permalink }}">
                    <span>{{ post.title }}</span>
                    <span class="date">{{ post.date | date }}</span>
                </a>
                {% endfor -%}
            </div>
            <div class="showhidden"><button data-category="{{category}}">More<i class="ri-arrow-down-s-line ri-lg"></i></button></div>
            {% endif -%}

        </div>
    {% endfor -%}

</main>
{% endblock content %}

{% block script -%}
<script src="/js/more.js"></script>
{%- endblock script %}
